*{
    font-family: 'Roboto', sens-serif;
}

.content{
    padding: 1rem;

}

.content h1 {
    margin:0;
}

ol.pokedex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

ol.pokedex li {
    margin: 0.5rem;
    padding: 2rem 1rem;
    background-color: #14a06f;
    color:white;
    border-radius: 1rem;
    height: 120px;
}
